
@at-root {

    .cui-button {
        padding: 6px;
        color: #ff0000;
    }
}

@mixin render-button($map:()) {

    // Core
    //@at-root {
    //    .cui-button {
    //        padding: 6px;
    //        color: #ff0000;
    //    }
    //}

    // Overrides
    .cui-button {

        @each $key, $value in $map {

            &.#{$key} {
                color: map-get($value, my-color);
            }
        }
    }
}
